<?xml version="1.0" encoding="utf-8"?>
<umidump xmlns:xlink="http://www.w3.org/TR/xlink" version="2.0">
  <meta>
    <site-name><![CDATA[umicms.demo site]]></site-name>
    <domain><![CDATA[updateserver.umihost.ru]]></domain>
    <lang><![CDATA[ru]]></lang>
    <source-name><![CDATA[system]]></source-name>
    <generate-time>
      <timestamp>1629113685</timestamp>
      <rfc>Mon, 16 Aug 2021 14:34:45 +0300</rfc>
      <utc>2021-08-16T14:34:45+03:00</utc>
    </generate-time>
  </meta>
  <registry>
    <key path="modules" val=""/>
    <key path="modules/events" val="events"/>
    <key path="modules/events/name" val="events"/>
    <key path="modules/events/title" val="Events"/>
    <key path="modules/events/description" val="Events"/>
    <key path="modules/events/filename" val="modules/events/class.php"/>
    <key path="modules/events/config" val="1" update="1"/>
    <key path="modules/events/ico" val="ico_events"/>
    <key path="modules/events/default_method" val="getUserSettings" update="1"/>
    <key path="modules/events/default_method_admin" val="last" update="1"/>
    <key path="modules/events/max-days-storing-events" val="30"/>
    <key path="modules/events/collect-events" val="0"/>
  </registry>
  <directories>
    <directory path="./classes/components/events" name="events">/classes/components/events</directory>
    <directory path="./styles/skins/modern/data/modules/events" name="events">/styles/skins/modern/data/modules/events</directory>
    <directory path="./styles/skins/modern/data/modules/events/man" name="man">/styles/skins/modern/data/modules/events/man</directory>
    <directory path="./styles/skins/modern/data/modules/events/man/ru" name="ru">/styles/skins/modern/data/modules/events/man/ru</directory>
    <directory path="./styles/skins/modern/data/modules/events/icon" name="icon">/styles/skins/modern/data/modules/events/icon</directory>
  </directories>
  <files>
    <file path="./classes/components/events/permissions.php" size="588" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9wZXJtaXNzaW9ucy5waHA" hash="59434a9d522c28df282945998839b026" name="permissions.php">/classes/components/events/permissions.php</file>
    <file path="./classes/components/events/customMacros.php" size="155" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9jdXN0b21NYWNyb3MucGhw" hash="ddcf918183bee0f23067d22a39b59b83" name="customMacros.php" only_install="true">/classes/components/events/customMacros.php</file>
    <file path="./classes/components/events/lang.php" size="237" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9sYW5nLnBocA" hash="0bc1c4a426baacab49101f0d04b7517a" name="lang.php">/classes/components/events/lang.php</file>
    <file path="./classes/components/events/customAdmin.php" size="208" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9jdXN0b21BZG1pbi5waHA" hash="62a00deecebdc6fac0e2240e1a90b266" name="customAdmin.php" only_install="true">/classes/components/events/customAdmin.php</file>
    <file path="./classes/components/events/events.php" size="1716" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9ldmVudHMucGhw" hash="c6005f3e66d3c1d21353dcbfbc74b715" name="events.php">/classes/components/events/events.php</file>
    <file path="./classes/components/events/handlers.php" size="15627" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9oYW5kbGVycy5waHA" hash="699bf0173add0e89b4dbd9139b11d40c" name="handlers.php">/classes/components/events/handlers.php</file>
    <file path="./classes/components/events/admin.php" size="8498" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9hZG1pbi5waHA" hash="e26eef706b7ee50bfce0241a43e559b6" name="admin.php">/classes/components/events/admin.php</file>
    <file path="./classes/components/events/install.php" size="1127" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9pbnN0YWxsLnBocA" hash="56a28cd0855c672a7a5b479e5b073988" name="install.php">/classes/components/events/install.php</file>
    <file path="./classes/components/events/includes.php" size="69" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9pbmNsdWRlcy5waHA" hash="d8390332e5eab88068b5d9fd59999fb5" name="includes.php">/classes/components/events/includes.php</file>
    <file path="./classes/components/events/i18n.en.php" size="3792" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9pMThuLmVuLnBocA" hash="fe6af9f63c4aabcfe5e7891549af86d4" name="i18n.en.php" only_install="true">/classes/components/events/i18n.en.php</file>
    <file path="./classes/components/events/class.php" size="4960" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9jbGFzcy5waHA" hash="e9db2fa51fd745707e2a2aee3fcb087f" name="class.php">/classes/components/events/class.php</file>
    <file path="./classes/components/events/i18n.php" size="5558" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9pMThuLnBocA" hash="a91020146617191ddb16c05985fcd01f" name="i18n.php">/classes/components/events/i18n.php</file>
    <file path="./classes/components/events/lang.en.php" size="233" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2V2ZW50cy9sYW5nLmVuLnBocA" hash="0d1bb58e9035615da47870aee6387533" name="lang.en.php">/classes/components/events/lang.en.php</file>
    <file path="./styles/skins/modern/data/modules/events/man/ru/config.html" size="916" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydS9jb25maWcuaHRtbA" hash="3b289ffe6f7360f10118a8d971781a1b" name="config.html">/styles/skins/modern/data/modules/events/man/ru/config.html</file>
    <file path="./styles/skins/modern/data/modules/events/man/ru/last.html" size="2096" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydS9sYXN0Lmh0bWw" hash="26079182dc707d9a046f02a2a626810d" name="last.html">/styles/skins/modern/data/modules/events/man/ru/last.html</file>
    <file path="./styles/skins/modern/data/modules/events/man/ru/feed.html" size="2496" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL21hbi9ydS9mZWVkLmh0bWw" hash="31f1fa15969f314fc1d2e2c9809965e0" name="feed.html">/styles/skins/modern/data/modules/events/man/ru/feed.html</file>
    <file path="./styles/skins/modern/data/modules/events/settings.view.xsl" size="8003" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRz" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL3NldHRpbmdzLnZpZXcueHNs" hash="282a7b836abee9279f159e3d5610a5a7" name="settings.view.xsl">/styles/skins/modern/data/modules/events/settings.view.xsl</file>
    <file path="./styles/skins/modern/data/modules/events/icon/events.png" size="1394" ext="png" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL2ljb24" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvZXZlbnRzL2ljb24vZXZlbnRzLnBuZw" hash="5d257b56fb096ec5281e9d20a35472fe" name="events.png">/styles/skins/modern/data/modules/events/icon/events.png</file>
  </files>
  <langs/>
  <domains/>
  <templates/>
  <datatypes/>
  <types/>
  <objects/>
  <pages/>
  <entities/>
  <relations/>
  <options/>
  <restrictions/>
  <permissions/>
  <hierarchy/>
</umidump>
