<?xml version="1.0" encoding="utf-8"?>
<umidump xmlns:xlink="http://www.w3.org/TR/xlink" version="2.0">
  <meta>
    <site-name><![CDATA[umicms.demo site]]></site-name>
    <domain><![CDATA[updateserver.umihost.ru]]></domain>
    <lang><![CDATA[ru]]></lang>
    <source-name><![CDATA[system]]></source-name>
    <generate-time>
      <timestamp>1629113680</timestamp>
      <rfc>Mon, 16 Aug 2021 14:34:40 +0300</rfc>
      <utc>2021-08-16T14:34:40+03:00</utc>
    </generate-time>
  </meta>
  <registry>
    <key path="modules" val=""/>
    <key path="modules/config" val="config"/>
    <key path="modules/config/name" val="config"/>
    <key path="modules/config/filename" val="modules/config/class.php"/>
    <key path="modules/config/config" val="0" update="1"/>
    <key path="modules/config/default_method" val="test" update="1"/>
    <key path="modules/config/default_method_admin" val="main" update="1"/>
  </registry>
  <directories>
    <directory path="./classes/components/config" name="config">/classes/components/config</directory>
    <directory path="./classes/components/config/classes" name="classes">/classes/components/config/classes</directory>
    <directory path="./classes/components/config/classes/Mail" name="Mail">/classes/components/config/classes/Mail</directory>
    <directory path="./classes/components/config/classes/Captcha" name="Captcha">/classes/components/config/classes/Captcha</directory>
    <directory path="./styles/skins/modern/data/modules/config" name="config">/styles/skins/modern/data/modules/config</directory>
    <directory path="./styles/skins/modern/data/modules/config/man" name="man">/styles/skins/modern/data/modules/config/man</directory>
    <directory path="./styles/skins/modern/data/modules/config/man/ru" name="ru">/styles/skins/modern/data/modules/config/man/ru</directory>
    <directory path="./styles/skins/modern/data/modules/config/icon" name="icon">/styles/skins/modern/data/modules/config/icon</directory>
    <directory path="./styles/skins/modern/data/modules/config/js" name="js">/styles/skins/modern/data/modules/config/js</directory>
  </directories>
  <files>
    <file path="./classes/components/config/autoload.php" size="548" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9hdXRvbG9hZC5waHA" hash="e32c1e0807a756c1641473ee112ed942" name="autoload.php">/classes/components/config/autoload.php</file>
    <file path="./classes/components/config/permissions.php" size="1529" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9wZXJtaXNzaW9ucy5waHA" hash="b93e8a62a19ee024d5e7778bbe04352a" name="permissions.php">/classes/components/config/permissions.php</file>
    <file path="./classes/components/config/customMacros.php" size="155" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jdXN0b21NYWNyb3MucGhw" hash="62221b98253a01940eb7a3fca6258996" name="customMacros.php" only_install="true">/classes/components/config/customMacros.php</file>
    <file path="./classes/components/config/services.php" size="460" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9zZXJ2aWNlcy5waHA" hash="586603295e5ced7b6f05385f7f6fe8d1" name="services.php">/classes/components/config/services.php</file>
    <file path="./classes/components/config/lang.php" size="1346" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9sYW5nLnBocA" hash="df2c62450c88f13a4e991d1da005c656" name="lang.php">/classes/components/config/lang.php</file>
    <file path="./classes/components/config/customAdmin.php" size="208" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jdXN0b21BZG1pbi5waHA" hash="b88ad193fd683ea0599dbef21a691da1" name="customAdmin.php" only_install="true">/classes/components/config/customAdmin.php</file>
    <file path="./classes/components/config/events.php" size="1275" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9ldmVudHMucGhw" hash="075412b3d367df4f8a3c86e59b76ea51" name="events.php">/classes/components/config/events.php</file>
    <file path="./classes/components/config/classes/Mail/iAdminSettingsManager.php" size="922" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL01haWw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL01haWwvaUFkbWluU2V0dGluZ3NNYW5hZ2VyLnBocA" hash="ab684f70341cf09862ee0650077f4ab0" name="iAdminSettingsManager.php">/classes/components/config/classes/Mail/iAdminSettingsManager.php</file>
    <file path="./classes/components/config/classes/Mail/AdminSettingsManager.php" size="9592" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL01haWw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL01haWwvQWRtaW5TZXR0aW5nc01hbmFnZXIucGhw" hash="93d03ceccd8517fcb6c245da7edf9e41" name="AdminSettingsManager.php">/classes/components/config/classes/Mail/AdminSettingsManager.php</file>
    <file path="./classes/components/config/classes/Captcha/iAdminSettingsManager.php" size="867" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL0NhcHRjaGE" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL0NhcHRjaGEvaUFkbWluU2V0dGluZ3NNYW5hZ2VyLnBocA" hash="4a63f7a6f41e0198cbff5a7564326933" name="iAdminSettingsManager.php">/classes/components/config/classes/Captcha/iAdminSettingsManager.php</file>
    <file path="./classes/components/config/classes/Captcha/AdminSettingsManager.php" size="4490" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL0NhcHRjaGE" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzc2VzL0NhcHRjaGEvQWRtaW5TZXR0aW5nc01hbmFnZXIucGhw" hash="bbac2aaa94c56b4f49909adbcd7aa63d" name="AdminSettingsManager.php">/classes/components/config/classes/Captcha/AdminSettingsManager.php</file>
    <file path="./classes/components/config/handlers.php" size="3692" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9oYW5kbGVycy5waHA" hash="c99a5cc20a75f1c99f7a3a4237d47b81" name="handlers.php">/classes/components/config/handlers.php</file>
    <file path="./classes/components/config/admin.php" size="18456" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9hZG1pbi5waHA" hash="87f31d9a3d78ee8bc62fc8d952c83917" name="admin.php">/classes/components/config/admin.php</file>
    <file path="./classes/components/config/install.php" size="1540" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9pbnN0YWxsLnBocA" hash="601fea37ea4ce7a31ab4552135058bdc" name="install.php">/classes/components/config/install.php</file>
    <file path="./classes/components/config/includes.php" size="69" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9pbmNsdWRlcy5waHA" hash="d8390332e5eab88068b5d9fd59999fb5" name="includes.php">/classes/components/config/includes.php</file>
    <file path="./classes/components/config/i18n.en.php" size="10412" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9pMThuLmVuLnBocA" hash="3a284d50f6455865c696da05a07ae6f8" name="i18n.en.php" only_install="true">/classes/components/config/i18n.en.php</file>
    <file path="./classes/components/config/class.php" size="33388" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9jbGFzcy5waHA" hash="0a1c3fdad87c9601a9b2f6dfc1fff9bd" name="class.php">/classes/components/config/class.php</file>
    <file path="./classes/components/config/i18n.php" size="14813" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9pMThuLnBocA" hash="2bc561c0eb3b14de7166a01375e9a9da" name="i18n.php">/classes/components/config/i18n.php</file>
    <file path="./classes/components/config/tests.php" size="7679" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy90ZXN0cy5waHA" hash="24528afbe5ec8ad02d55a97f6cc8bf94" name="tests.php">/classes/components/config/tests.php</file>
    <file path="./classes/components/config/lang.en.php" size="980" ext="php" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZw" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvY2xhc3Nlcy9jb21wb25lbnRzL2NvbmZpZy9sYW5nLmVuLnBocA" hash="15e93a18eecbbcdd8c3654d19d66c3d8" name="lang.en.php">/classes/components/config/lang.en.php</file>
    <file path="./styles/skins/modern/data/modules/config/cache.xsl" size="3082" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2NhY2hlLnhzbA" hash="9041548bc29436686580e255aecc64da" name="cache.xsl">/styles/skins/modern/data/modules/config/cache.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/list.view.xsl" size="846" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2xpc3Qudmlldy54c2w" hash="f12a18529e36850288b4411b35c642cb" name="list.view.xsl">/styles/skins/modern/data/modules/config/list.view.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/domain_mirrows.xsl" size="1896" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2RvbWFpbl9taXJyb3dzLnhzbA" hash="d42c26428a75e17eec12bbfed45ee2bd" name="domain_mirrows.xsl">/styles/skins/modern/data/modules/config/domain_mirrows.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/domains.html" size="1835" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9kb21haW5zLmh0bWw" hash="7a2850cad8f1a40b79acc9f71b0ceef5" name="domains.html">/styles/skins/modern/data/modules/config/man/ru/domains.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/main.html" size="6791" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9tYWluLmh0bWw" hash="f7a2909a58a9025d0b7ee321713ef010" name="main.html">/styles/skins/modern/data/modules/config/man/ru/main.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/captcha.html" size="3790" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9jYXB0Y2hhLmh0bWw" hash="b15931cb5c529aaeba65742c12ca11d5" name="captcha.html">/styles/skins/modern/data/modules/config/man/ru/captcha.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/mails.html" size="3274" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9tYWlscy5odG1s" hash="1b31a7db63f5546f2a3af4b3808b4465" name="mails.html">/styles/skins/modern/data/modules/config/man/ru/mails.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/cache.html" size="5066" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9jYWNoZS5odG1s" hash="a687010d64a202c1590427681d0bf345" name="cache.html">/styles/skins/modern/data/modules/config/man/ru/cache.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/domain_mirrows.html" size="2363" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9kb21haW5fbWlycm93cy5odG1s" hash="6112838119e886e423077a230de49012" name="domain_mirrows.html">/styles/skins/modern/data/modules/config/man/ru/domain_mirrows.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/langs.html" size="1427" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9sYW5ncy5odG1s" hash="844d6d9e9dd53e1606cc9b1e52a7d574" name="langs.html">/styles/skins/modern/data/modules/config/man/ru/langs.html</file>
    <file path="./styles/skins/modern/data/modules/config/man/ru/security.html" size="1049" ext="html" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydQ" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21hbi9ydS9zZWN1cml0eS5odG1s" hash="66ca52b33b2f5b9b64d8cfed66072930" name="security.html">/styles/skins/modern/data/modules/config/man/ru/security.html</file>
    <file path="./styles/skins/modern/data/modules/config/mails.xsl" size="4128" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21haWxzLnhzbA" hash="9e94867f362b321073abc668b0910a5c" name="mails.xsl">/styles/skins/modern/data/modules/config/mails.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/icon/config.png" size="2020" ext="png" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2ljb24" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2ljb24vY29uZmlnLnBuZw" hash="78d4125f8c6617a8cf4cc6ffd7b22bb3" name="config.png">/styles/skins/modern/data/modules/config/icon/config.png</file>
    <file path="./styles/skins/modern/data/modules/config/main.xsl" size="1485" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL21haW4ueHNs" hash="5eec298c46d3a50667ac9c58d89d0094" name="main.xsl">/styles/skins/modern/data/modules/config/main.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/cache.js" size="3469" ext="js" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2NhY2hlLmpz" hash="2616703beadff4a76dc73e19229b0d0e" name="cache.js">/styles/skins/modern/data/modules/config/cache.js</file>
    <file path="./styles/skins/modern/data/modules/config/captcha.xsl" size="2890" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2NhcHRjaGEueHNs" hash="5949f304ebe794222935eba5a9a0756e" name="captcha.xsl">/styles/skins/modern/data/modules/config/captcha.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/js/main.js" size="1262" ext="js" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2pz" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2pzL21haW4uanM" hash="8a4213d5bd575ff7ad14cdb0b8e68fc1" name="main.js">/styles/skins/modern/data/modules/config/js/main.js</file>
    <file path="./styles/skins/modern/data/modules/config/list.modify.xsl" size="11786" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2xpc3QubW9kaWZ5LnhzbA" hash="deba0ad7ff8d6a61ad0dfef144967000" name="list.modify.xsl">/styles/skins/modern/data/modules/config/list.modify.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/security.xsl" size="1959" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL3NlY3VyaXR5LnhzbA" hash="507811b1955154bf53887166d0157a2a" name="security.xsl">/styles/skins/modern/data/modules/config/security.xsl</file>
    <file path="./styles/skins/modern/data/modules/config/captcha.js" size="916" ext="js" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL2NhcHRjaGEuanM" hash="076326d981c945ccbc5765fb4db52f2c" name="captcha.js">/styles/skins/modern/data/modules/config/captcha.js</file>
    <file path="./styles/skins/modern/data/modules/config/settings.modify.xsl" size="410" ext="xsl" folder_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmln" file_hash="umiimages_d3d3L3VwZGF0ZXNlcnZlci9leHBvcnQvc3R5bGVzL3NraW5zL21vZGVybi9kYXRhL21vZHVsZXMvY29uZmlnL3NldHRpbmdzLm1vZGlmeS54c2w" hash="bdd51762ff255471b31232b09531e0c5" name="settings.modify.xsl">/styles/skins/modern/data/modules/config/settings.modify.xsl</file>
  </files>
  <langs/>
  <domains/>
  <templates/>
  <datatypes/>
  <types/>
  <objects/>
  <pages/>
  <entities/>
  <relations/>
  <options/>
  <restrictions/>
  <permissions/>
  <hierarchy/>
</umidump>
